<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com?plugins=forms,typography,aspect-ratio,line-clamp"></script>       
    <title>HomeScape</title>
    <style>
      body {
        background-color: #fce4ec; /* Pink background */
        background-image:url('/static/hubbg.webp');
        background-size: cover;
      }
      .hubbutton {
              background-color: #fff; /* Set background color to white */
              color: #ff0000; /* Set font color to red */
              border: 2px solid #ff0000; /* Set border to red */
              padding: 12px 24px; /* Increased padding for better button appearance */
              font-size: 18px; /* Increased font size */
              font-weight: bold; /* Set font weight to bold */
              cursor: pointer;
              border-radius: 5px;
              box-shadow: 0px 4px 6px rgba(212, 124, 124, 0.1);
          }
  
  .hubbutton:hover {
    background-color: #dfd7d7; /* Change background color on hover */
  }
  
    
  </style>
</head>
<body>
    <section class="text-gray-600 body-font">
      <header cla ss="text-gray-600 body-font">
        <div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center">
          <a href="{% url 'index' %}"  class="flex title-font font-medium items-center text-gray-900 mb-4 md:mb-0">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-10 h-10 text-white p-2 bg-indigo-500 rounded-full" viewBox="0 0 24 24">
              <path d="M12 2L2 7l10 5 10-5-10-5zM2 17l10 5 10-5M2 12l10 5 10-5"></path>
            </svg>
            <span class="ml-3 text-xl">HomeScape</span>
          </a>
          <nav class="md:ml-auto md:mr-auto flex flex-wrap items-center text-base justify-center">
            <a href="{% url 'hub' %}" class="mr-5 hover:text-pink-1000 text-black text-lg font-bold">Inspiration Hub</a>
            <a href="{% url 'cal' %}" class="mr-5 hover:text-pink-1000 text-black text-lg font-bold">Budget Calculator</a>
            <a href="{% url 'review' %}" class="mr-5 hover:text-pink-1000 text-black text-lg font-bold">Review</a>
            <a href="" class="mr-5 hover:text-pink-1000 text-black text-lg font-bold">AboutUs</a>      
          </nav>
          <button class="inline-flex items-center bg-gray-100 border-0 py-1 px-3 focus:outline-none hover:bg-gray-200 rounded text-base mt-4 md:mt-0">Contact us
            <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-1" viewBox="0 0 24 24">
              <path d="M5 12h14M12 5l7 7-7 7"></path>
            </svg>
          </button>
        </div>
      </header>
        <div class="container px-5 py-10 mx-auto">
          <div class="flex flex-wrap -m-4">
            <div class="lg:w-1/4 md:w-1/2 p-4 w-full">
              <a class="block relative h-48 rounded overflow-hidden" href="{% url 'bedroom' %}">
                {% load static %}
                <img alt="ecommerce" class="object-cover object-center w-full h-full block" src="{% static 'hub/bedroom1.avif.' %}">
              </a>
              <div class="mt-4">
                
                <h2 class="text-gray-900 title-font text-lg font-medium">Bedroom Designs</h2>
                 
              </div>
            </div>
            <div class="lg:w-1/4 md:w-1/2 p-4 w-full">
              <a class="block relative h-48 rounded overflow-hidden" href="{% url 'livingroom' %}">
                <img alt="ecommerce" class="object-cover object-center w-full h-full block" src="{% static 'hub/livingroom.jpg' %}">
              </a>
              <div class="mt-4">
                
                <h2 class="text-gray-900 title-font text-lg font-medium">Living Room Designs </h2>
                 
              </div>
            </div>
            <div class="lg:w-1/4 md:w-1/2 p-4 w-full">
              <a class="block relative h-48 rounded overflow-hidden" href="{% url 'kitchen' %}">
                <img alt="ecommerce" class="object-cover object-center w-full h-full block" src="{% static 'hub/kitchen.jpg' %}">
              </a>
              <div class="mt-4">
                
                <h2 class="text-gray-900 title-font text-lg font-medium">Kitchen Designs</h2>
                               </div>
            </div>
            <div class="lg:w-1/4 md:w-1/2 p-4 w-full">
              <a class="block relative h-48 rounded overflow-hidden" href="{% url 'poojaroom' %}">
                <img alt="ecommerce" class="object-cover object-center w-full h-full block" src="{% static 'hub/Pooja.webp'%}">
              </a>
              <div class="mt-4">
                
                <h2 class="text-gray-900 title-font text-lg font-medium">Pooja Room Designs</h2>
                 
              </div>
            </div>
            <div class="lg:w-1/4 md:w-1/2 p-4 w-full">
              <a class="block relative h-48 rounded overflow-hidden" href="{% url 'tv' %}">
                <img alt="ecommerce" class="object-cover object-center w-full h-full block" src="{% static 'hub/tv.webp'%}">
              </a>
              <div class="mt-4">
                
                <h2 class="text-gray-900 title-font text-lg font-medium">TV Unit Designs</h2>
                 
              </div>
            </div>
            <div class="lg:w-1/4 md:w-1/2 p-4 w-full">
              <a class="block relative h-48 rounded overflow-hidden" href="{% url 'bathroom' %}">
                <img alt="ecommerce" class="object-cover object-center w-full h-full block" src="{% static 'hub/bathroom.webp'%}">
              </a>
              <div class="mt-4">
                
                <h2 class="text-gray-900 title-font text-lg font-medium">Bathroom Designs</h2>
                 
              </div>
            </div>
            <div class="lg:w-1/4 md:w-1/2 p-4 w-full">
              <a class="block relative h-48 rounded overflow-hidden" href="{% url 'office' %}">
                <img alt="ecommerce" class="object-cover object-center w-full h-full block" src="{% static 'hub/home.png'%}">
              </a>
              <div class="mt-4">
                
                <h2 class="text-gray-900 title-font text-lg font-medium">Home Office Designs</h2>
                 
              </div>
            </div>
            <div class="lg:w-1/4 md:w-1/2 p-4 w-full">
              <a class="block relative h-48 rounded overflow-hidden" href="{% url 'kidsroom' %}">
                <img alt="ecommerce" class="object-cover object-center w-full h-full block" src="{% static 'hub/kidsroom.avif'%}">
              </a>
              <div class="mt-4">
                
                <h2 class="text-gray-900 title-font text-lg font-medium">Kids Bedroom Designs</h2>
                 
              </div>
            </div>  
          </div>
        </div>
      </section>  
</body>
</html>